# Environment variables -- NEVER commit this
.env

# Virtual environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Django
db.sqlite3
media/
staticfiles/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db